.edit-modal__create {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 20px;
}
.edit-modal__create > div:nth-last-child(1) {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.edit-modal__container .search-bar__input {
  width: 100%;
}
.edit-modal__content--chat {
  height: 80svh;
}

.em-create__photo {
  width: 100px;
  height: 100px;

  border-radius: var(--border-24);
  background-color: var(--color-bg-dark);

  cursor: pointer;
}
.em-create__photo > svg {
  width: 80px;
  height: 80px;
}
.em-create__photo > #inputFile {
  display: none;
  visibility: hidden;
}
.em-create__photo > img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: var(--border-24);

  overflow: hidden;
}

.em-create__photo:after {
  content: "";

  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;

  border-radius: var(--border-24);
  background: var(--color-bg-light-25);

  transition: opacity 0.3s linear;
}
.em-create__photo:hover:after {
  opacity: 1;
}

.em__header {
  display: flex;
  justify-content: space-between;
}

.edit-modal__counter {
  font-size: var(--font-h5);
  font-weight: 400;
  color: var(--color-text-dark);
}

.em-create__name-input {
  flex-shrink: 1;

  padding: 11px 15px;

  color: var(--color-black);
  font-size: var(--font-p);
  font-weight: 300;

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-hover-light);

  transition: 0.3s padding-left, 0.3s padding-right;
}
.em-create__name-input:focus {
  outline: none;
}
.em-selected__text {
  font-size: var(--font-h6);
}

.em-selected__container {
  margin-top: -5px;
  margin-bottom: -5px;

  display: flex;
  align-items: center;

  min-height: 32px;
  max-height: 64px;
}
.em-selected__container .scroll-bar__outer-container > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  row-gap: 7px;
  column-gap: 7px;

  border-radius: var(--border-8);
}
.user-info__container {
  min-width: max-content;
  max-height: 32px;
  padding: 4px;

  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;

  border-radius: var(--border-12);
  background-color: var(--color-hover-light);

  cursor: pointer;
}
.user-info__photo {
  width: 24px;
  height: 24px;

  border-radius: var(--border-8);
  background-color: var(--color-bg-dark);
}
.user-info__photo > p {
  font-size: var(--font-indicator);
}
.user-info__photo > svg {
  display: none;
}
.user-info__container:hover .user-info__photo > p {
  display: none;
}
.user-info__container:hover .user-info__photo > svg {
  display: block;
}

@media screen and (max-width: 800px) {
  .edit-modal__create {
    align-items: center;

    flex-direction: column;
  }
  .edit-modal__create > div:nth-last-child(1) {
    width: 100%;
  }
}
