@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@tailwind utilities;

@theme {
  --font-base: -apple-system, BlinkMacSystemFont, "Inter", Roboto, sans-serif, sans-serif;
  --font-accent: "Krona One", sans-serif;

  --color-danger: #df2e38;

  --color-bg-light: #f6f6f6;
  --color-bg-dark: #1b1b1d;

  --color-text-light: #b0b0b0;
  --color-text-dark: #6d6d6d;

  --color-hover-light: #e7e7e7;
  --color-hover-dark: #3f3f3f;

  --color-accent-100: #dbdcfc;
  --color-accent-200: #babbf2;
  --color-accent-500: #7678e5;

  --color-indicator: #68174d;
}

@utility shadow-btn {
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

*:not(i) {
  font-family: var(--font-base);
  font-variant-numeric: tabular-nums;
}

body {
  /* background-image: url("../assets/background.png") !important; */
  background-color: var(--color-bg-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.monaco-editor span {
  font-family: Consolas, "Courier New", monospace;
}

.lucide {
  stroke-width: 1px;
  transition:
    color 0.15s linear,
    transform 0.15s linear;
}

/* scroll */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.magic-wand .editor-tooltip-style,
.editor-helper .editor-tooltip-style,
.editor-validation .editor-tooltip-style {
  padding: 15px 30px !important;
  color: black;

  border-radius: 8px;
  border: 1px solid var(--color-text-dark);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

  z-index: 50;
}

.magic-wand .editor-tooltip-arrow,
.editor-helper .editor-tooltip-arrow,
.editor-validation .editor-tooltip-arrow {
  background-color: var(--color-accent-500);
}

#logo-icon-line {
  position: absolute;
}
#logo-text {
  margin: 0 12px;
}

/* vertical scroll */
.scroll-bar__outer-container > div:nth-child(3) {
  width: 6px !important;

  right: 4px !important;
  bottom: 4px !important;
  top: 4px !important;

  border-radius: 3px !important;
}

#chatFormContainer .scroll-bar__outer-container > div:nth-child(3) {
  display: flex;
  flex-direction: column-reverse;
}

#conversationItemsScrollable .infinite-scroll-component {
  display: flex;
  flex-direction: column;
}

/* auth form checkbox */
input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
input[type="checkbox"]:checked {
  background-color: #7678e5;
  border-color: #7678e5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
input[type="checkbox"]:active {
  filter: brightness(90%);
}
input[type="checkbox"]:hover:not(:disabled) {
  border-color: #7678e5;
}
/* input[type="checkbox"]:focus {
  border-color: #7678e5;
  outline: none;
  box-shadow: 0 0 0 0.25rem #7678e544;
} */
input[type="checkbox"]:disabled {
  filter: none;
  opacity: 0.5;
  cursor: not-allowed;
}
input[type="checkbox"]:disabled ~ .checkbox-label {
  opacity: 0.5;
  cursor: not-allowed;
}
