.text-error {
  padding-top: 18vh;

  width: 100vw;
  height: 100vh;

  color: var(--text-smoke);

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: var(--bg-default-color);
}
.text-error > p {
  margin-right: calc(var(--font-size) * 1.2);

  font-weight: 200;
  font-size: calc(var(--font-size) * 4);
  line-height: calc(var(--font-size) * 4);
}
