aside {
  box-sizing: border-box;
  position: relative;
  width: min(400px, 100vw);
  height: calc(93svh - 20px);
  margin: 0 20px 20px 20px;
  padding-top: 0;

  background-color: inherit;
}

.user-box {
  height: 100px;
  padding: 10px 15px;

  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);

  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}
.user-photo,
.chat-box-icon {
  width: 80px;
  height: 80px;

  font-size: calc(var(--font-size) * 2.125);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-main);

  border-radius: var(--border-second-radius);
  background-color: var(--bg-chatPhoto-color);
  box-shadow: inset 0px 0px 10px var(--shadow-block);
}
.user-info {
  max-width: 260px;
  margin-left: 15px;

  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}
.user-info-name {
  width: 100%;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: calc(var(--font-size) * 1.5);
  font-weight: 300;
  line-height: 50px;
}
.user-info-status {
  font-size: var(--font-size);
  color: var(--text-smoke);
}

.chat-list {
  height: calc(91svh - 120px);
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  overflow-y: auto;
  overflow-x: hidden;

  border: 15px solid transparent;

  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}
.chat-list > a {
  text-decoration: none;
}
.empty-list {
  margin-top: 20px;

  text-align: center;
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 1.5);
  line-height: calc(var(--font-size) * 1.5);
}

.chat-box {
  position: relative;
  flex-grow: 1;

  height: 70px;
  padding: 10px;

  border-bottom: 1px solid var(--border-light-color);
  border-top: 1px solid var(--border-light-color);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: left;
}
.chat-box-icon {
  width: 52px;
  height: 52px;

  font-size: calc(var(--font-size) * 1.5);

  background-color: var(--bg-chatPhoto-color);
}
.chat-box-info {
  max-width: 250px;
  margin-top: 0;
  margin-left: 10px;

  display: flex;
  gap: 8px;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.selected > .chat-box {
  border-bottom: 1px solid var(--border-dark-color);
  border-top: 1px solid var(--border-dark-color);
  background-color: var(--block-selected);
}
.chat-box:hover {
  cursor: pointer;

  border-bottom: 1px solid var(--border-dark-color);
  border-top: 1px solid var(--border-dark-color);
  background-color: var(--block-hover);
}
.last-message-img-preview {
  display: flex;
  gap: 5px;
  align-items: center;
}
.last-message-img-preview p {
  color: var(--text-smoke);
}
.chat-name {
  font-weight: 300;
  line-height: calc(var(--font-size) * 1.3);
}
.chat-message {
  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.2);
  color: var(--text-smoke);
}
.chat-message span {
  position: absolute;
  right: 10px;
}
.chat-indicator,
.chat-indicator-group {
  padding: 5px 8px;

  position: absolute;
  bottom: 9px;
  right: 10px;

  font-size: calc(var(--font-size) * 0.875);
  line-height: calc(var(--font-size) * 0.875);

  border-radius: var(--border-indicator);
  background-color: var(--bg-chat-indicator);
}
.chat-indicator-group {
  background-color: var(--bg-chat-indicator-group);
}
.chat-last-update {
  position: absolute;
  top: 10px;
  right: 10px;

  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 0.875);
  line-height: var(--font-size);
}

.chat-create-btn {
  padding: 6px;

  cursor: pointer;

  position: absolute;
  bottom: 30px;
  right: 25px;

  background-color: var(--scrollbar-track-color);
  border-radius: var(--border-second-radius);

  transition: 0.3s;

  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(
    0,
    var(--scrollbar-thumb-hover-color),
    var(--scrollbar-thumb-hover-color)
  );
}
.chat-create-btn svg path {
  transition: 0.3s;
}
.chat-create-btn:hover {
  background-size: 100%;
}

@media (min-width: 1023px) {
  aside {
    display: block !important;
  }
  .chat-menu-bg {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .user-box {
    height: 80px;
    padding: 10px;
  }
  .user-photo {
    width: 60px;
    height: 60px;

    font-size: calc(var(--font-size) * 1.7);
  }
  .chat-list {
    border-width: 10px;
  }
  aside {
    width: 96vw !important;
    margin: 2vw;

    display: none;
    position: absolute;
    align-items: flex-start;

    z-index: 111;
  }
  .chat-menu-bg {
    padding-top: 10px !important;
  }
  .chat-menu-bg > svg {
    width: 30px !important;
  }
}
@media (max-width: 800px) {
  .chat-box-info > p {
    width: calc(100% - 35px);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
