aside {
  position: relative;
  width: 400px;
  margin: 0 20px 20px 20px;
  padding-top: 0;

  background-color: inherit;
}

.user-box {
  height: 100px;
  padding: 10px 15px;

  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);

  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}
.user-photo,
.chat-box-icon {
  width: 80px;
  height: 80px;

  font-size: calc(var(--font-size) * 2.125);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-main);

  border-radius: 50%;
  box-shadow: inset 0px 0px 10px var(--shadow-block);
  background-color: var(--bg-userPhoto-color);
}
.user-info {
  margin-left: 15px;

  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}
.user-info-name {
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 300;
}
.user-info-status {
  font-size: var(--font-size);
  color: var(--text-smoke);
}

.chat-list {
  height: calc(91vh - 140px);
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  overflow-y: auto;
  overflow-x: hidden;

  border: 15px solid transparent;

  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}
.chat-list > a {
  text-decoration: none;
}
.empty-list {
  margin-top: 20px;

  text-align: center;
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 1.5);
  line-height: calc(var(--font-size) * 1.5);
}

.chat-box {
  position: relative;
  flex-grow: 1;

  height: 70px;
  padding: 10px;

  border-bottom: 1px solid var(--border-light-color);
  border-top: 1px solid var(--border-light-color);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: left;
}
.chat-box-icon {
  width: 52px;
  height: 52px;

  font-size: calc(var(--font-size) * 1.5);

  background-color: var(--bg-chatPhoto-color);
}
.chat-box-info {
  margin-left: 10px;

  flex-grow: 1;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: left;
}
.selected > .chat-box {
  border-bottom: 1px solid var(--border-dark-color);
  border-top: 1px solid var(--border-dark-color);
  background-color: var(--block-selected);
}
.chat-box:hover {
  cursor: pointer;

  border-bottom: 1px solid var(--border-dark-color);
  border-top: 1px solid var(--border-dark-color);
  background-color: var(--block-hover);
}
.last-message-img-preview {
  display: flex;
  gap: 5px;
  align-items: center;
}
.last-message-img-preview p {
  color: var(--text-smoke);
}
.chat-box-info {
  max-width: 288px;
  margin-top: calc(var(--font-size) * 0.2);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chat-name {
  font-weight: 300;
  font-size: calc(var(--fonr-size) * 1.125);
  line-height: calc(var(--fonr-size) * 1.125);
}
.chat-message {
  max-width: 90%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.2);
  color: var(--text-smoke);
}
.chat-message span {
  position: absolute;
  right: 10px;
}
.chat-indicator,
.chat-indicator-group {
  padding: 5px 8px;

  position: absolute;
  bottom: 9px;
  right: 10px;

  font-size: calc(var(--font-size) * 0.875);
  line-height: calc(var(--font-size) * 0.875);

  border-radius: var(--border-indicator);
  background-color: var(--bg-chat-indicator);
}
.chat-indicator-group {
  background-color: var(--bg-chat-indicator-group);
}
.chat-last-update {
  position: absolute;
  top: 10px;
  right: 10px;

  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 0.875);
  line-height: var(--font-size);
}

.chat-create-btn {
  padding: 6px;

  cursor: pointer;

  position: absolute;
  bottom: 30px;
  right: 20px;

  background-color: var(--block-hover);
  border-radius: var(--border-second-radius);

  transition: 0.3s;

  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(
    0,
    var(--bg-dark-block),
    var(--bg-dark-block)
  );
}
.chat-create-btn svg path {
  transition: 0.3s;
}
.chat-create-btn:hover {
  background-size: 100%;
}
