.chat-form {
  flex-grow: 1;
  margin: 0 20px 20px 0;
  padding: 20px;

  border-radius: 25px;
  background-color: var(--bg-main-color);
  box-shadow: 0 4px 8px 0 var(--border-color), 0 6px 20px 0 var(--border-color);
}
.chat-empty {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4em;
  color: var(--text-smoke);
  text-align: center;
}

.chat-form-loading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 5em;
  text-align: center;
}
.chat-form-loading > P {
  color: var(--text-smoke);
  font-size: 0.7em;
  margin-left: 15px;
}
.chat-form-loading > svg > path {
  color: var(--text-smoke);
}

.chat-messages {
  padding: 6px 3px;
}
.chat-messaging-info {
  position: relative;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}
.chat-recipient-photo {
  width: 70px;
  height: 70px;

  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  color: var(--text-light);
  background-color: var(--bg-chatPhoto-color);
}
.chat-recipient-info {
  font-size: 1.7em;
  padding: 0 17px;

  display: flex;
  align-items: center;
  justify-content: left;
}
.chat-recipient-status {
  display: flex;

  font-size: 1em;

  transition: all 0.1s ease-in-out;
}
.chat-recipient-status p {
  color: var(--text-accent);
}
.chat-recipient-status span {
  margin: 0 15px;
  color: var(--text-accent);
}
.chat-delete-btn {
  position: absolute;
  top: 18%;
  right: 5px;

  font-size: 2.4em;

  transition: all 0.3s ease-in-out;
}
.chat-delete-btn > svg > path {
  color: var(--text-smoke);

  transition: all 0.3s ease-in-out;
}
.chat-delete-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.chat-delete-btn:hover > svg > path {
  color: var(--text-danger);
}
.chat-form-messaging {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-form-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

#inputMessage {
  flex-grow: 1;
  height: 100%;
  margin-right: 15px;
  padding: 0 1rem;

  font-size: 1.1em;

  border: none;
  border-radius: 2rem;
  background-color: var(--bg-message-all);
}
#inputMessage:focus {
  outline: none;
}
#chat-form-send {
  min-height: 54px;

  display: flex;
  border-top: 1px solid var(--border-color);
  padding: 15px 15px 0 15px;
}
#chat-form-send > button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;

  border: none;
  border-radius: 20px;
  background-color: var(--btn-bg-color);

  transition: all 0.2s ease-in-out;
}
#chat-form-send > button:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}
#chat-form-send > button > p {
  font-size: 0.8em;
  margin-right: 8px;
  color: var(--text-light);

  transition: all 0.2s ease-in-out;
}
#chat-form-send > button > svg > path {
  color: var(--text-light);

  transition: all 0.2s ease-in-out;
}
#chat-form-send > button:hover p,
#chat-form-send > button:hover > svg > path {
  color: var(--text-main);
}
