aside {
  position: relative;
  width: 22vw;
  min-width: 400px;
  margin: 0 20px;
  padding-top: 0;

  background-color: inherit;
}

.user-box {
  padding: 15px;
  border-radius: 20px;
  background-color: var(--bg-main-color);

  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}
.user-photo,
.chat-box-icon {
  width: 57px;
  height: 57px;

  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-light);

  border-radius: 50%;
  background-color: var(--bg-chatPhoto-color);
}
.user-photo {
  width: 70px;
  height: 70px;
  color: var(--text-main);
  background-color: var(--bg-userPhoto-color);
}
.user-info {
  font-size: 1.5em;
}
.user-info,
.chat-box-info {
  flex-grow: 1;
  padding: 0 17px;

  display: flex;
  align-items: center;
  justify-content: left;
}

.chat-list {
  height: calc(100vh - 228px);
  margin-top: 20px;
  padding: 7px 0;

  display: flex;
  flex-direction: column;
  overflow: auto;

  border: 10px solid transparent;
  border-radius: 20px;
  background-color: var(--bg-main-color);
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}
.chat-list > p {
  text-align: center;
  font-size: 1.4em;
  color: var(--text-smoke);
}
.chat-list > a {
  color: var(--text-main);
  text-decoration: none;
}
.chat-box {
  position: relative;

  width: 97%;
  height: 72px;
  margin: 6px auto;
  padding: 8px 4px;

  border-bottom: 1px solid var(--border-light-color);
  border-top: 1px solid var(--border-light-color);
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: left;

  transition: all 0.1s ease-in-out;
}
.selected > .chat-box {
  background-color: var(--block-selected);
}
.chat-box:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--border-dark-color);
  border-top: 1px solid var(--border-dark-color);
  background-color: var(--block-hover);
}
.chat-box-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chat-name {
  font-size: 1.1em;
}
.chat-message {
  width: 100%;
  margin-top: 2px;

  display: flex;
  justify-content: space-between;
  vertical-align: center;
  color: var(--text-smoke);
}
.chat-message span {
  line-height: 100%;
  font-size: 1.3em;
}
.chat-message span > svg > path {
  color: var(--text-accent);
}
.chat-create-btn {
  padding: 12px;

  position: absolute;
  bottom: 35px;
  right: 20px;

  width: auto;
  height: auto;

  display: flex;
  color: var(--btn-text-default);
  font-size: 1.8em;

  background-color: var(--block-hover);
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}
.chat-create-btn:hover {
  cursor: pointer;
  transform: translateY(-5px);
  color: var(--btn-text-hover);
  background-color: var(--bg-dark-block);
}
.chat-create-btn > svg > path {
  transition: all 0.3s ease-in-out;
}
.chat-create-btn:hover > svg > path {
  color: var(--btn-text-hover);
}
.chat-indicator {
  width: max-content;
  min-width: 28px;
  height: 28px;

  padding: 0 6px;

  position: absolute;
  top: 33px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 100%;

  border-radius: 12px;
  background-color: var(--bg-chat-indicator);
}
.chat-last-update {
  position: absolute;
  top: 8px;
  right: 16px;

  font-size: 0.95em;
  color: var(--text-smoke);
}
.chat-indicator {
  width: max-content;
  min-width: 28px;
  height: 28px;

  padding: 0 6px;

  position: absolute;
  top: 33px;
  right: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--btn-text-default);
  line-height: 100%;

  border-radius: 12px;
  background-color: var(--bg-chat-indicator);
}
.chat-last-update {
  position: absolute;
  top: 8px;
  right: 16px;

  font-size: 0.95em;
  color: var(--text-smoke);
}
