.chat-form {
  margin: 0 20px 20px 0;
  padding: 15px;
  margin-left: auto;

  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}

.chat-form-loading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.chat-form-loading > P {
  margin-left: 15px;

  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 4);
}

.chat-empty {
  flex-grow: 1;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.chat-empty p {
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 4);
  line-height: calc(var(--font-size) * 5);
}

.chat-messaging-info {
  position: relative;
  padding-bottom: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid var(--border-color);
}
.chat-info-block {
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.chat-recipient-photo {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: var(--bg-chatPhoto-color);
  box-shadow: inset 0px 0px 10px var(--shadow-block);
}
.chat-recipient-info {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: left;
}
.chat-recipient-info p {
  font-weight: 300;
  font-size: calc(var(--font-size) * 1.5);
  line-height: calc(var(--font-size) * 1.5);
}
.chat-recipient-status {
  display: flex;

  color: var(--text-hover);
  font-size: calc(var(--font-size) * 1.125);
  line-height: calc(var(--font-size) * 1.125);

  transition: 0.1s;
}

.chat-delete-btn {
  display: flex;
  align-items: center;

  cursor: pointer;

  transition: 0.3s;
}
.chat-delete-btn:hover {
  transform: scale(1.25);
}
.chat-delete-btn > svg > path {
  transition: 0.3s;
}
.chat-delete-btn:hover > svg > path {
  stroke: var(--text-danger);
}

.chat-form-messaging {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-form-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.chat-messages {
  padding: 6px 3px;
}

#inputMessage {
  flex-grow: 1;
  height: 100%;
  margin-right: 15px;
  padding: 0 1rem;

  color: var(--text-main);
  font-size: 1.1em;

  border: none;
  border-radius: 2rem;
  background-color: var(--bg-message-all);
}
#inputMessage:focus {
  outline: none;
}
#chat-form-send {
  min-height: 54px;

  display: flex;
  border-top: 1px solid var(--border-color);
  padding: 15px 15px 0 15px;
}
#chat-form-send > button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;

  border: none;
  border-radius: 20px;
  background-color: var(--btn-bg-color);

  transition: all 0.2s ease-in-out;
}
#chat-form-send > button:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}
#chat-form-send > button > p {
  font-size: 0.8em;
  margin-right: 8px;

  color: var(--btn-text-hover);
  transition: all 0.2s ease-in-out;
}
#chat-form-send > button > svg > path {
  color: var(--btn-text-hover);

  transition: all 0.2s ease-in-out;
}
#chat-form-send > button:hover p,
#chat-form-send > button:hover > svg > path {
  color: var(--btn-text-default);
}
.form-send-file {
  width: 2rem;

  margin-right: 10px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-send-file > svg {
  width: 100%;
  height: 100%;
}
.form-send-file > svg:hover {
  cursor: pointer;
}
.form-send-file > svg > * {
  transition: 0.2s ease-in-out;
}
.form-send-file > svg:hover > * {
  color: var(--text-accent);

  transform: translateY(-2px);
}
#inputFile {
  display: none;
}

.chat-files-preview {
  padding: 5px 0;

  border-top: 1px solid var(--border-color);
}
