.user-options-bg {
  width: 100svw;
  height: 100svh;

  padding: 7svh 0;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--bg-dark-block);

  z-index: 12;
}
.user-options-block {
  width: min(700px, 98svw);
  max-height: 90svh;

  padding: 28px 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border: none;
  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);

  z-index: 13;
}
.user-o-box {
  display: flex;
  gap: 15px;
  align-items: center;
}
.user-o-photo {
  width: 140px;
  height: 140px;

  font-size: calc(var(--font-size) * 2.125);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-main);

  border-radius: var(--border-second-radius);
  background-color: var(--bg-chatPhoto-color);
  box-shadow: inset 0px 0px 10px var(--shadow-block);
}
.user-o-info {
  flex-grow: 1;

  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}
.user-o-info-name {
  width: 100%;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: calc(var(--font-size) * 1.5);
  font-weight: 300;
  line-height: 100%;
}
.user-o-info-login {
  line-height: 150%;
}
.user-o-delete {
  align-self: flex-start;
  cursor: pointer;

  transition: 0.3s;
}
.user-o-delete:hover {
  transform: scale(1.25);
}
.user-o-delete > svg > path {
  transition: 0.3s;
}
.user-o-delete:hover > svg > path {
  stroke: var(--text-danger);
}

.formTitle {
  text-align: center;
  font-size: calc(var(--font-size) * 1.5);
  padding-bottom: 10px;
}
#userEditForm,
#passwordEditForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#userEditForm > div,
#passwordEditForm > div {
  width: min(100%, 480px);

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;

  text-align: right;
}

#userEditForm > div > input:not([type="submit"]),
#passwordEditForm > div > input:not([type="submit"]) {
  flex-grow: 1;
  padding: 6px 12px;

  color: var(--input-text);
  font-size: var(--font-size);
  font-weight: 300;

  border: 1px solid var(--border-color);
  border-radius: var(--border-second-radius);
  background-color: var(--input-bg-color);
}
#userEditForm > div > input:not([type="submit"]):focus,
#passwordEditForm > div > input:not([type="submit"]):focus {
  outline: none;
}
input[type="submit"] {
  margin-top: 5px;
  align-self: center;
}
