.search-bg {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-dark-block);

  z-index: 12;
}
#search-form {
  width: 500px;
  height: 75%;

  padding: 28px 15px;

  border: none;
  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);
}
.search-options {
  position: relative;
  border-bottom: 15px solid transparent;
}
.search-indicator {
  position: absolute;
  right: 10px;
  top: 50%;

  transition: 0.3s;
  transform: translateY(-50%);
}

#inputSearchLogin {
  width: 100%;
  height: 40px;
  padding: 0 60px 0 19px;

  color: var(--text-main);
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--font-size);

  border: 1px solid var(--border-color);
  border-radius: var(--border-second-radius);
  background-color: var(--bg-message-all);
}
#inputSearchLogin::placeholder {
  color: var(--text-smoke);
  font-size: var(--font-size);
  line-height: var(--font-size);
}
#inputSearchLogin:focus {
  outline: none;
}

.list-users {
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-bottom: 1px solid var(--border-color);
}
.list-user-message {
  padding: 25px 0;

  color: var(--text-smoke);
  text-align: center;
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25);
}
.list-user-box,
.list-user-selected-box {
  padding: 10px;

  flex: 1 1 max-content;

  cursor: pointer;

  border: 1px solid var(--border-light-color);
  border-radius: var(--border-second-radius);
}
.list-user-selected-box {
  width: max-content;

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.list-user-selected-box:hover {
  border: 1px solid var(--text-danger);
  background-color: var(--block-danger);
}
.list-user-box:hover {
  border-color: var(--border-dark-color);
  background-color: var(--block-hover);
}

.chat-selected-users {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
}

.search-buttons {
  margin-top: 15px;

  display: flex;
  gap: 15px;
  justify-content: center;
}

.search-create-chat {
  width: max-content;
  padding: 12px 27px;

  cursor: pointer;

  border-radius: var(--border-second-radius);
  background-color: var(--text-accent);

  transition: 0.3s;

  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(
    0,
    var(--btn-hover-color),
    var(--btn-hover-color)
  );
}
.search-create-chat p {
  font-size: 400;
  color: var(--btn-text-hover);

  transition: 0.3s;
}
.search-create-chat:hover {
  background-size: 100%;
}
.search-create-chat:hover p {
  color: var(--btn-text-hover);
}

.search-close-chat {
  width: max-content;
  padding: 12px 15px;

  cursor: pointer;

  border-radius: var(--border-second-radius);
  background-color: var(--block-hover);

  transition: 0.3s;

  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(
    0,
    var(--shadow-block),
    var(--shadow-block)
  );
}
.search-close-chat p {
  font-size: 400;

  transition: 0.3s;
}
.search-close-chat:hover {
  background-size: 100%;
}
