.searchbar {
  position: relative;
}

.searchbar__input {
  width: 500px;

  padding: 14px 20px;

  font-size: var(--font-h6);
  font-weight: 300;

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-hover-light);
}
.searchbar__input:focus {
  outline: none;
}

.searchbar__icon,
.searchbar__close {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);

  z-index: 1;
}

.searchbar__icon {
  left: 20px;
}

.searchbar__close {
  right: 20px;

  cursor: pointer;
}
