.edit-modal__create {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 20px;
}
.edit-modal__create > div:nth-last-child(1) {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.edit-modal__container .search-bar__input {
  width: 100%;
}
.edit-modal__content--chat {
  height: 80svh;
}

.em-create__photo {
  width: 100px;
  height: 100px;

  border-radius: var(--border-24);
  background-color: var(--color-bg-dark);
}

.em__header {
  display: flex;
  justify-content: space-between;
}

.edit-modal__counter {
  font-size: var(--font-h5);
  font-weight: 400;
  color: var(--color-text-dark);
}

.em-create__name-input {
  flex-shrink: 1;

  padding: calc(11px * var(--base-scale)) calc(15px * var(--base-scale));

  color: var(--color-black);
  font-size: var(--font-p);
  font-weight: 300;

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-hover-light);

  transition: 0.3s padding-left, 0.3s padding-right;
}
.em-create__name-input:focus {
  outline: none;
}
.em-selected__text {
  font-size: var(--font-h6);
}

.em-selected__container {
  margin-top: -5px;
  margin-bottom: -5px;

  display: flex;
  align-items: center;

  min-height: 32px;
  max-height: 64px;
}
.em-selected__container .scroll-bar__outer-container > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  row-gap: 7px;
  column-gap: 7px;

  border-radius: var(--border-8);
}
.selected-user__container {
  max-height: 32px;
  padding: 4px;

  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;

  border-radius: var(--border-12);
  background-color: var(--color-hover-light);

  cursor: pointer;
}
.selected-user__photo {
  width: 24px;
  height: 24px;

  border-radius: var(--border-8);
  background-color: var(--color-bg-dark);
}
.selected-user__photo > p {
  font-size: var(--font-indicator);
}
.selected-user__photo > svg {
  display: none;
}
.selected-user__container:hover .selected-user__photo > p {
  display: none;
}
.selected-user__container:hover .selected-user__photo > svg {
  display: block;
}
