@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --border-0: 0;
  --border-8: 8px;
  --border-12: 12px;
  --border-16: 16px;
  --border-24: 24px;
  --border-32: 32px;
  --border-48: 48px;

  --font-family: "Inter", sans-serif;

  --font-72: 4.5rem;
  --font-58: 3.625rem;
  --font-h1: 2.986rem;
  --font-h2: 2.488rem;
  --font-h3: 2.074rem;
  --font-h4: 1.728rem;
  --font-h5: 1.44rem;
  --font-h6: 1.2rem;
  --font-p: 1rem;
  --font-span: 0.833rem;

  --color-white: #fff;
  --color-black: #000;
  --color-red: #df2e38;
  --color-bg-light: #f6f6f6;
  --color-bg-dark: #1b1b1d;
  --color-text-light: #b0b0b0;
  --color-text-dark: #6d6d6d;
  --color-hover-light: #e7e7e7;
  --color-hover-dark: #2a2a2a;
  --color-accent-light: #dbdcfc;
  --color-accent-dark: #7678e5;
  --color-indicator: #68174d;
}

* {
  position: relative;

  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-variant-numeric: tabular-nums;
  font-family: var(--font-family);
  font-size: var(--font-p);
  color: var(--color-text-dark);

  line-height: 100%;
  font-weight: 200;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-bg-dark);
}

.hide {
  display: none !important;
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
