.searchbar {
  position: relative;
}

.searchbar__input {
  width: 500px;

  padding: 14px 20px;
  padding-left: 60px;

  font-size: var(--font-h6);
  font-weight: 300;

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-hover-light);
}
.searchbar__input:focus {
  outline: none;
}

.searchbar__icon {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);

  z-index: 1;
}
