.inputs__container {
  position: absolute;
  bottom: -5px;

  width: 100%;

  padding-top: 10px;

  background-color: var(--color-bg-light-90);
}

#inputMessage:focus {
  outline: none;
}
#inputMessage::-webkit-scrollbar {
  display: none;
}
#inputMessage::placeholder {
  color: var(--color-text-dark);
  font-size: var(--font-p);
}

#inputFile {
  display: none;
}

@media screen and (max-width: 500px) {
  #inputMessage:disabled {
    padding: 9px;
    height: 75px !important;
  }
}

@media screen and (max-width: 800px) {
  .inputs__container {
    bottom: 4svw;

    width: 92svw;
  }
  #inputMessage:disabled {
    padding: 9px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  .inputs__container {
    bottom: 20px;

    width: calc(100% - 40px);
  }
  #inputMessage:disabled {
    padding: 9px;
  }
}
