.header-back {
  align-self: center;

  margin-right: 30px;

  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .header__container {
    top: 3svw;
    left: 4svw;

    width: 92svw;

    align-items: center;
  }
  .content__name {
    font-size: var(--font-h3);
  }
  .header-content {
    max-width: calc(100% - 100px);
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  .header__container {
    top: 20px;
    left: 20px;

    width: calc(100% - 40px);
  }
  .header-content {
    max-width: calc(100% - 100px);
  }
}
