.hub--empty {
  flex: 1 1;
  flex-direction: column;
  gap: calc(20px * var(--base-scale));

  border-radius: var(--border-48);
  background-color: var(--color-bg-light);
}
.hub-title__container {
  overflow: hidden;
}
.hub-title__text {
  margin-bottom: calc(20px * var(--base-scale));

  text-align: center;
  font-size: var(--font-58);
}
