.encrypted--container {
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  flex: 1 1;
  align-self: center;
  justify-content: center;
}

.encrypted--container__password {
  position: relative;
}
.encrypted--container__password > input {
  width: 100%;

  padding: 15px 30px 15px 10px;

  color: var(--color-black);
  font-size: var(--font-p);

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-hover-light);
}
.encrypted--container__password > input:focus {
  outline: none;
}

.encrypted--container__password > svg {
  position: absolute;
  right: 15px;
  top: 53%;

  transform: translateY(-50%);
}

.encrypted--container > button {
  padding: 15px;

  font-size: var(--font-p);
  color: var(--color-white);

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-accent-dark);

  cursor: pointer;
}

.encrypted--container__header {
  margin-bottom: 5px;
  margin-left: -5px;

  /* color: var(--color-black); */
  font-size: var(--font-h4);
  font-weight: 400;
  text-align: center;

  display: flex;
  align-items: center;
}

.encrypted--container__span {
  margin-top: 5px;

  color: var(--color-accent-dark);

  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}
