aside {
  box-sizing: border-box;

  width: min(400px, 100vw);
  height: 100svh;

  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--border-dark-color);
  background-color: var(--bg-main-color);
}

.user-box {
  position: relative;

  height: 100px;
  padding: 10px 5px;

  display: flex;
  gap: 15px;
  align-items: center;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;

  background-color: var(--scrollbar-track-color);
}
.user-photo,
.chat-box-icon {
  width: 80px;
  height: 80px;

  font-size: calc(var(--font-size) * 2.125);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-main);

  border-radius: var(--border-second-radius);
  background-color: var(--bg-chatPhoto-color);
  box-shadow: inset 0px 0px 10px var(--shadow-block);
}
.user-info {
  max-width: calc(100% - 140px);

  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}
.user-info > p {
  width: 100%;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: calc(var(--font-size) * 1.5);
  font-weight: 300;
  line-height: 50px;
}
.user-info-status {
  font-size: var(--font-size);
  color: var(--text-smoke);
}
.user-options {
  padding: 2px;
  margin-left: auto;

  border-radius: var(--border-second-radius);
}
.user-options:hover {
  cursor: pointer;
  background-color: var(--border-color);
}

.chat-list {
  flex-grow: 1;
  margin: 5px 0;

  display: flex;
  flex-direction: column;

  border-right: 5px solid transparent;

  overflow-y: auto;
}
.chat-list > a {
  text-decoration: none;
}
.empty-list {
  margin-top: 20px;

  text-align: center;
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25);
}

.chat-box {
  width: 100%;

  position: relative;
  flex-grow: 1;

  height: 74px;
  padding: 10px;

  display: flex;
  align-items: center;
}
.chat-box:hover {
  cursor: pointer;

  background-color: var(--block-hover);
}
.selected > .chat-box {
  background-color: var(--block-selected);
}
.chat-box-icon {
  width: 52px;
  height: 52px;

  font-size: calc(var(--font-size) * 1.5);
}
.chat-box-icon-g-bg {
  background-color: var(--bg-chatPhoto-g-color);
}
.chat-box-icon-u-bg {
  background-color: var(--bg-chatPhoto-u-color);
}
.chat-box-info {
  max-width: 250px;
  margin-top: 0;
  margin-left: 10px;

  display: flex;
  gap: 8px;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.last-message {
  display: flex;
  gap: 5px;
  align-items: center;
}
.last-message p {
  color: var(--text-smoke);

  max-width: 250px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.2);
  color: var(--text-smoke);
}
.last-message span {
  position: absolute;
  right: 10px;
  bottom: 16px;
}
.last-message svg {
  width: 18px;
  height: 18px;
}
.media-container .blur-hash-preloader .canvas-preloader {
  width: 18px !important;
  height: 18px !important;
  border-radius: 3px;
}
.media-container .blur-hash-loader {
  display: none !important;
}
.chat-name {
  width: calc(100% - 25px);
  font-weight: 300;
  line-height: calc(var(--font-size) * 1.3);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-indicator {
  padding: 5px 8px;

  position: absolute;
  bottom: 9px;
  right: 10px;

  font-size: calc(var(--font-size) * 0.875);
  line-height: calc(var(--font-size) * 0.875);

  border-radius: var(--border-indicator);
  background-color: var(--bg-chat-indicator);
}
.chat-last-update {
  position: absolute;
  top: 10px;
  right: 10px;

  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 0.875);
  line-height: var(--font-size);
}

@media (max-width: 1023px) {
  aside {
    width: 100svw;

    border: 0;

    z-index: 111;
  }

  .user-box {
    width: 100svw;
    height: 80px;
    padding: 10px;
  }
  .user-info {
    width: calc(100% - 85px);
  }
  .user-photo {
    width: 60px;
    height: 60px;

    font-size: calc(var(--font-size) * 1.7);
  }

  .chat-list {
    border-width: 10px;
  }
  .chat-box-info > p {
    width: calc(100% - 45px);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
