.message {
  position: relative;
  width: 100%;

  margin-top: 3px;

  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: flex-end;
}
.infinite-scroll-component > div:nth-last-child(1) {
  margin-bottom: 5px;
}
.message-content {
  position: relative;
  max-width: min(500px, 80%);

  border: none;
  border-radius: var(--border-second-radius) var(--border-second-radius)
    var(--border-second-radius) 0;
  background-color: var(--bg-message-all);
  overflow: hidden;
}
.my-message > .message-content {
  background-color: var(--bg-message-my);
}
.bg-status-att {
  border-radius: var(--border-second-radius);
  background-color: var(--shadow-block);
}

.message-body {
  padding: 0 10px 10px 10px;

  white-space: break-spaces;
  word-wrap: break-word;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.2);
}
.message-body-link {
  text-decoration: none;
  color: var(--text-link);
}
.message-body-link:hover {
  text-decoration: underline;
  color: var(--text-link-hover);
}
.message-user-name {
  padding: 10px 10px 5px 10px;

  color: var(--icon-indicator-color);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.2);
}
.message-user-photo {
  width: 40px;
  height: 40px;

  font-size: calc(var(--font-size) * 1.125);
  line-height: calc(var(--font-size) * 1.125);

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-main);

  border-radius: var(--border-second-radius);
  background-color: var(--bg-userPhoto-color);
  box-shadow: inset 0px 0px 10px var(--shadow-block);
}
.my-message .message-user-photo {
  background-color: var(--bg-chatPhoto-color);
}
.message-user-photo-none {
  width: 40px;
}

.message-status {
  position: absolute;
  bottom: 4px;
  right: 4px;

  padding: 4px 7px 3px 7px;

  display: flex;
  gap: 5px;
  align-items: center;
}
.message-status-time {
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 0.75);
  line-height: calc(var(--font-size) * 0.75);
}
.message-status-icon {
  display: none;
}
.my-message .message-status-icon {
  display: flex;
}

.attachment-preloader {
  width: 150px;
  height: 150px;

  background-color: var(--preloader-bg);
}
.message-file {
  width: 100%;

  display: flex;
  gap: 3px;
  justify-content: center;
  flex-wrap: wrap;

  border: 3px solid transparent;
}
.attachment-img {
  position: relative;
  width: 100%;
  min-width: 250px;
  height: 300px;

  cursor: pointer;

  display: flex;
  flex: 1 0 245px;
  justify-content: center;

  border-radius: var(--border-second-radius);

  overflow: hidden;
}
.attachment-img img {
  height: 100%;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background-color: var(--bg-dark-block);
}
.modal-window img {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}

.informative-message {
  width: max-content;

  padding: 4px 8px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;

  border-radius: var(--border-second-radius);

  background-color: var(--bg-message-all);

  cursor: pointer;
}

@media (max-width: 1023px) {
  .my-message {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  .my-message > .message-content {
    border-radius: var(--border-second-radius) var(--border-second-radius) 0
      var(--border-second-radius);
  }
  .my-message > .br-tl {
    border-top-right-radius: 0;
  }
}
@media (max-width: 800px) {
  .message {
    gap: 5px;
  }
}

.mt-10 {
  margin-top: 10px;
}
.m-pr {
  padding-right: 40px;
}
.my-message .m-pr {
  padding-right: 60px;
}
.m-pb {
  min-width: 70px;
  padding-bottom: 17px;
}
.br-tl {
  border-top-left-radius: 0;
}
