.searched-user {
  width: 25rem;

  padding: 0.625rem;

  gap: 0.938rem;
  justify-content: flex-start;

  border-radius: var(--border-12);

  cursor: pointer;
}
.searched-user:hover {
  background-color: var(--color-hover-light);
}

.searched-user__photo {
  width: 4.375rem;
  height: 4.375rem;

  font-weight: 300;
  font-size: var(--font-h4);

  border-radius: var(--border-8);
  background-color: var(--color-bg-dark);
}

.searched-user__name {
  font-size: var(--font-h6);
  font-weight: 500;
  color: #000;
}
