.chat-form-loading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-default-color);
}
.chat-form-loading > P {
  margin-left: 15px;

  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 2.5);
  line-height: calc(var(--font-size) * 2.5);
}

.chat-empty {
  flex-grow: 1;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  text-align: center;

  background-color: var(--bg-default-color);
}
.chat-empty p {
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 2.5);
  line-height: calc(var(--font-size) * 2.5);
}

.chat-form {
  width: calc(100svw - 400px);
  height: 100svh;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-main-color);
}

.chat-return-btn {
  width: 55px;

  display: none;

  cursor: pointer;
}

.chat-form-info {
  position: relative;
  padding: 10px;
  padding-left: 55px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--border-color);
}

.chat-info-block {
  display: flex;
  flex-grow: 1;
  gap: 15px;
}

.chat-delete-btn {
  display: flex;
  align-items: center;

  margin: 0 4px;
  cursor: pointer;
}
.chat-delete-btn:hover > svg > path {
  stroke: var(--text-danger);
}

.chat-recipient-photo {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-second-radius);
  background-color: var(--bg-chatPhoto-color);
  box-shadow: inset 0px 0px 10px var(--shadow-block);
}
.chat-recipient-photo > svg {
  width: 56px;
  height: 56px;
}
.chat-recipient-info {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  justify-content: center;
}
.chat-recipient-info p {
  font-weight: 300;
  font-size: calc(var(--font-size) * 1.5);
  line-height: calc(var(--font-size) * 1.5);
}
.chat-recipient-status {
  display: flex;

  color: var(--text-hover);
  font-size: calc(var(--font-size) * 1.125);
  line-height: calc(var(--font-size) * 1.125);
}

#chatMessagesScrollable {
  padding: 5px 5px 5px 10px;

  display: flex;
  overflow: auto;
  flex-grow: 1;
  flex-direction: column-reverse;

  overflow: auto;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background-color: var(--bg-default-color);
}

#chat-form-send {
  padding: 10px;
  height: auto;

  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: 1px solid var(--border-color);
}
#inputMessage {
  width: 100%;
  height: 40px;
  padding: 10px 75px 10px 19px;

  resize: none;

  color: var(--text-main);
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--font-size);

  border: 1px solid var(--border-color);
  border-radius: var(--border-second-radius);
  background-color: var(--bg-message-all);
}
#inputMessage:focus {
  outline: none;
}
#inputMessage::-webkit-scrollbar {
  display: none;
}
#inputMessage::placeholder {
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 0.875);
  line-height: calc(var(--font-size) * 0.875);
}

.form-send-file {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.form-send-file > svg > path {
  transition: 0.3s;
}
.form-send-file:hover > svg > path {
  stroke: var(--text-accent);
}
#inputFile {
  display: none;
}
.form-send-text {
  position: relative;
  width: 100%;
  display: flex;
}
#send-message {
  position: absolute;
  right: 0;
  top: 50%;

  height: 90%;
  padding: 0 18px 2px 18px;

  cursor: pointer;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  border: 0;
  border-left: 1px solid var(--border-color);
  border-radius: 0 var(--border-second-radius) var(--border-second-radius) 0;
  background-color: transparent;

  transform: translateY(-50%);
}
#send-message > svg > path {
  transition: 0.3s;
}
#send-message:hover > svg > path {
  stroke: var(--text-accent);
}
#send-message:active > svg {
  transform: translateX(5px);
}

.chat-files-preview {
  position: relative;
  padding: 10px 45px 10px 0;

  max-height: 70px;
  min-height: 60px;

  overflow: hidden;

  border-top: 1px solid var(--border-color);
}
.chat-files-block {
  height: 100%;

  display: flex;
  row-gap: 5px;
  column-gap: 10px;
  flex-wrap: wrap;

  overflow-y: auto;
}
.file-pin-box {
  padding: 10px;

  display: flex;
  gap: 10px;
  align-items: center;

  font-size: calc(var(--font-size) * 0.875);

  cursor: pointer;

  border: 1px solid var(--border-color);
  border-radius: var(--border-second-radius);
  background: transparent;

  transition: 0.3s;
}
.file-pin-box svg line {
  transition: 0.3s;
}
.file-pin-box:hover {
  border-color: var(--border-danger);
  background-color: var(--block-danger);
}
.file-pin-box:hover svg line {
  stroke: var(--border-danger);
}

.btn-clear-files {
  position: absolute;
  right: 10px;
  top: 50%;

  cursor: pointer;

  transform: translateY(-50%);
}
.btn-clear-files svg line {
  transition: 0.3s;
}
.btn-clear-files:hover svg line {
  stroke: var(--text-danger);
}
.chat-menu-bg {
  position: absolute;
  display: none;
  justify-content: right;

  padding: 20px;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-dark-block);

  z-index: 110;
}
.chat-menu-bg svg {
  width: 45px;
}
.chat-menu-bg svg:hover {
  cursor: pointer;
}
.chat-menu-bg svg path {
  stroke: var(--btn-text-hover);
}

@media (max-width: 1023px) {
  .chat-form {
    width: 100svw;
  }
  .chat-return-btn {
    display: block;
  }
  .chat-form-info {
    padding-left: 0;
  }
  #chatMessagesScrollable {
    padding: 5px 5px 5px 0;
  }

  .chat-form-loading > P {
    font-size: calc(var(--font-size) * 2);
    line-height: calc(var(--font-size) * 2);
  }
}

@media (max-width: 800px) {
  .chat-recipient-photo {
    width: 50px;
    height: 50px;
  }
  .chat-recipient-photo > svg {
    width: 35px;
  }
  .chat-recipient-info {
    width: calc(100svw - 170px);

    display: flex;

    align-items: flex-start;
    justify-content: center;
  }
  .chat-recipient-info > p {
    width: 100%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: calc(var(--font-size) * 1.3);
  }
  .chat-recipient-status {
    font-size: calc(var(--font-size) * 0.85);
  }
  #chat-form-send {
    gap: 5px;
  }
  #send-message {
    padding: 0 8px 2px 8px;
  }
  .chat-files-preview {
    max-height: 90px;
  }
  .chat-empty > svg {
    width: 35px;
  }
  .chat-empty > p {
    font-size: calc(var(--font-size) * 1.4);
  }
  #inputMessage {
    padding: 10px 55px 10px 10px;
  }
}
