.guest-options-bg {
  width: 100svw;
  height: 100svh;

  padding: 7svh 1svw;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--bg-dark-block);

  z-index: 112;
}
.guest-options-container {
  width: 450px;
  height: 80svh;

  padding: 15px 20px 30px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  border: none;
  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);
}

.go-photo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.go-photo {
  width: 90px;
  height: 90px;

  font-size: calc(var(--font-size) * 2.5);
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-main);

  border-radius: var(--border-second-radius);
  background-color: var(--bg-chatPhoto-u-color);
}
.go-photo > svg {
  width: 60px;
  height: 60px;
}
.go-header {
  padding-right: 51px;

  font-size: calc(var(--font-size) * 1.5);
  font-weight: 300;
}
.go-name {
  width: calc(100% - 110px);

  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
}
.go-name > p {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  font-size: calc(var(--font-size) * 1.5);
  font-weight: 300;
  line-height: calc(var(--font-size) * 2);
}
.go-info {
  width: 100%;

  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.go-info > div {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 15px;
}
.go-login {
  line-height: 150%;
}
.go-email,
.go-login,
.go-phone {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: calc(var(--font-size) * 1.125);
}

.go-info > div > p:nth-last-child(1) {
  width: 200px;
  padding: 2px;

  font-size: calc(var(--font-size) * 1.125);
  color: var(--text-hover);
  text-align: right;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.go-navigation {
  padding-right: 8px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.go-navigation > div {
  display: flex;
  gap: 15px;
}

.go-delete {
  cursor: pointer;
}
.go-delete > svg > path {
  transition: 0.3s;
}
.go-delete:hover > svg > path {
  stroke: var(--text-danger);
}

.go-close {
  cursor: pointer;
}

.go-info {
  width: 100%;
}

@media (max-width: 800px) {
  .go-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guest-options-bg {
    padding: 0;
  }
  .guest-options-container {
    width: 100svw;
    height: 100svh;

    border-radius: 0;
  }

  .go-info {
    width: min(100%, 410px);
  }
  .go-info > div {
    flex: 1;
  }
  .go-info > div > p {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
  }
  .go-info > div > p > input {
    width: 100%;
    text-align: left;
  }

  .go-photo-name {
    width: min(410px, 100%);
  }
}
