#search-form {
  position: absolute;
  width: 400px;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--bg-main-color);

  z-index: 113;
}
.search-options {
  position: relative;
  width: 100%;
  padding: 10px 45px 10px 0;

  border-bottom: 1px solid var(--border-color);
}
#search-form[data-css="left-side"] {
  left: 0;
  border-right: 1px solid var(--border-dark-color);
}
#search-form[data-css="right-side"] {
  right: 0;
  border-left: 1px solid var(--border-dark-color);
}
.search-indicator {
  position: absolute;
  right: 15px;
  top: 50%;

  transition: 0.3s;
  transform: translateY(-50%);
}

#inputSearchLogin {
  height: 40px;
  flex-grow: 1;
  padding: 0 10px 0 10px;

  color: var(--text-main);
  font-weight: 300;
  font-size: var(--font-size);
  line-height: var(--font-size);

  border: 1px solid var(--border-color);
  border-radius: var(--border-second-radius);
  background-color: var(--bg-message-all);
}
#inputSearchLogin::placeholder {
  color: var(--text-smoke);
  font-size: calc(var(--font-size) * 0.9);
  line-height: var(--font-size);
}
#inputSearchLogin:focus {
  outline: none;
}

.list-users {
  width: 100%;
  max-height: 55svh;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  overflow: auto;

  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.list-users > .list-user-box:nth-child(1) {
  margin-top: 10px;
}
.list-users > .list-user-box:nth-last-child(1) {
  margin-bottom: 10px;
}
.list-user-message {
  padding: 25px 0;

  color: var(--text-smoke);
  text-align: center;
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25);
}
.list-user-box,
.list-user-selected-box {
  max-width: calc(100%);
  padding: 7px 10px;

  flex: 1 1 max-content;

  cursor: pointer;

  border: 1px solid var(--border-light-color);
  border-radius: var(--border-second-radius);
}
.list-user-selected-box {
  width: max-content;

  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.list-user-selected-box:hover {
  border: 1px solid var(--text-danger);
  background-color: var(--block-danger);
}
.list-user-box:hover {
  border-color: var(--border-dark-color);
  background-color: var(--block-hover);
}
.list-user-box > p,
.list-user-selected-box > p {
  line-height: calc(var(--font-size) * 1.5);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat-selected-users {
  max-height: 20svh;
  overflow: auto;
  padding: 10px 3px 10px 10px;

  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  padding-bottom: 15px;
  border-right: 3px solid transparent;
}

.search-create-chat {
  width: max-content;
  padding: 12px 27px;
  margin-top: 10px;

  cursor: pointer;

  border-radius: var(--border-second-radius);
  background-color: var(--text-accent);

  transition: 0.3s;

  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(
    0,
    var(--btn-hover-color),
    var(--btn-hover-color)
  );
}
.search-create-chat p {
  font-size: 400;
  color: var(--btn-text-hover);

  transition: 0.3s;
}
.search-create-chat:hover {
  background-size: 100%;
}
.search-create-chat:hover p {
  color: var(--btn-text-hover);
}

.search-close-chat {
  width: 45px;
  cursor: pointer;
}
.search-close-chat > svg {
  width: 40px;
}

@media (max-width: 1023px) {
  #search-form {
    width: 100svw;
  }
}
