.inputs__container {
  position: absolute;
  bottom: -5px;

  width: 100%;

  padding-top: 10px;

  background-color: var(--color-bg-light-90);

  z-index: 50;
}

#inputMessage {
  width: 100%;
  height: 55px;

  padding: 18px 58px;

  color: var(--color-black);
  font-size: var(--font-p);

  border: 0;
  border-radius: var(--border-16);
  background-color: var(--color-hover-light);

  resize: none;
}
#inputMessage:disabled {
  padding: 18px;
}
#inputMessage:focus {
  outline: none;
}
#inputMessage::-webkit-scrollbar {
  display: none;
}
#inputMessage::placeholder {
  color: var(--color-text-dark);
  font-size: var(--font-p);
}

#inputFile {
  display: none;
}

.input-file__button,
.input-text__button {
  position: absolute;
  bottom: 17px;

  cursor: pointer;

  z-index: 1;
}
.input-file__button {
  left: 25px;
}
.input-text__button {
  right: 25px;
}
@media screen and (max-width: 500px) {
  #inputMessage:disabled {
    padding: 9px;
    height: 75px !important;
  }
}

@media screen and (max-width: 800px) {
  .inputs__container {
    bottom: 4svw;

    width: 92svw;
  }
  #inputMessage:disabled {
    padding: 9px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  .inputs__container {
    bottom: 20px;

    width: calc(100% - 40px);
  }
  #inputMessage:disabled {
    padding: 9px;
  }
}
