.header__container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(75px * var(--base-scale));

  display: flex;
  align-items: flex-start;

  background-color: var(--color-bg-light-90);

  z-index: 3;
}

.header-content {
  max-width: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: calc(5px * var(--base-scale));

  cursor: pointer;
}
.content__name {
  font-weight: 500;
  font-size: var(--font-h2);
  color: var(--color-black);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-more {
  padding-top: calc(20px * var(--base-scale));
  padding-right: 5px;
  padding-left: 5px;

  align-self: flex-start;

  cursor: pointer;
}
.header-back {
  align-self: center;

  margin-right: 30px;

  cursor: pointer;
}

.activity--online {
  padding-left: calc(25px * var(--base-scale));
}
.activity--online > li {
  color: var(--color-accent-dark);
}

@media screen and (max-width: 800px) {
  .header__container {
    top: 3svw;
    left: 4svw;

    width: 92svw;

    align-items: center;
  }
  .content__name {
    max-width: 300px;
    /* optimize width */

    font-size: var(--font-h3);
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  .header__container {
    top: 20px;
    left: 20px;

    width: calc(100% - 40px);
  }
}
