.dark-theme {
  --bg-default-color: #1b1b1d;
  --bg-main-color: #26262c;
  --bg-chatPhoto-color: #1d70a2;
  --bg-userPhoto-color: #3b3b43;
  --bg-block-hover: #415a77;
  --bg-dark-block: rgba(0, 0, 0, 0.6);

  --border-light-color: #4e4e4e;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-dark-color: rgba(255, 255, 255, 0.25);
  --border-danger: #8a0000;

  --block-selected: rgba(255, 255, 255, 0.1);
  --block-hover: rgba(255, 255, 255, 0.1);
  --block-danger: #8a000086;

  --text-main: #fff;
  --text-smoke: #c2c2c2;
  --text-light: #000;
  --text-accent: #055c9d;
  --text-hover: #219be4;
  --text-danger: #cc1616;

  --icon-stroke-color: #fff;
  --icon-indicator-color: #63b3ef;

  --input-text: #fff;
  --input-bg-color: #3b3b43;

  --shdaow-text: #f1faee;
  --shadow-block: rgba(0, 0, 0, 0.4);

  --btn-bg-color: #055c9d;
  --btn-hover-color: #219be4;
  --btn-text-default: #000;
  --btn-text-hover: #fff;

  --bg-message-all: #3b3b43;
  --bg-message-my: #2b5378;
  --bg-chat-indicator: #1d70a2;
  --bg-chat-indicator-group: #4e4e4e;

  --scrollbar-track-color: #444;
  --scrollbar-thumb-color: #686868;
  --scrollbar-thumb-hover-color: #7a7a7a;
}
