:root {
  --bg-default-color: #f7fbfc;
  --bg-main-color: #fff;
  --bg-chatPhoto-color: 1;
  --bg-userPhoto-color: 2;
  --bg-block-hover: #8ecae6;
  --border-color: rgba(0, 0, 0, 0.2);

  --text-main: #000;
  --text-smoke: rgba(128, 128, 128, 0.5);
  --text-light: #fff;
  --text-accent: #219ebc;
  --text-hover: #8ecae6;
  --text-danger: #ff0000;

  --shdaow-text: #e0e0e0;
  --shadow-block: 1;

  --btn-bg-color: #219ebc;
  --btn-hover-color: #8ecae6;

  --bg-message-all: 1;
  --bg-message-my: 2;

  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #d3d3d3; /*lightgrey*/
  --scrollbar-thumb-hover-color: #999;

  --color-lightblue: #dbe2ef;
  --color-blue: #3f72af;
  --color-darkblue: #112d4e;
  --color-text-shadow: #e0e0e0;
  --color-text-danger: #ff0000;
  --color-box-shadow: #d3d3d3;
  --color-hover-blue: #81c6e8;
  --color-border: rgba(0, 0, 0, 0.2);
}
