.alert {
  position: fixed;
  top: 2svh;
  left: 50%;

  min-width: 300px;
  max-width: max-content;
  width: 100%;
  height: 40px;
  padding: 10px 10px 15px 10px;

  color: #fff;

  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;

  border-radius: 5px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  z-index: 1000;
}
.time-bar {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 5px;
  width: 100%;

  opacity: 0;
  transition: border-radius 2.5s ease, width 3s ease;

  border-radius: 0 0 5px 5px;
}
