.login-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-default-color);
}
.login-box {
  position: relative;

  height: min(98vw, 500px);

  display: grid;
  grid-template-columns: 3fr 2fr;

  border-radius: var(--border-main-radius);
  background-color: var(--bg-main-color);

  overflow: hidden;
}
.login-box-create {
  width: min(98vw, 1000px);
  box-shadow: 0px 0px 60px 30px var(--shadow-block);
}
.login-box-left {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--darken-color);
  background-blend-mode: darken;

  overflow: hidden;
}
.bg-login {
  background-image: url(./../assets/loginUserBG.png);
}
.bg-create {
  background-image: url(./../assets/createUserBG.png);
}
#logo-icon-line {
  position: absolute;
}
#logo-text {
  margin: 0 12px;
}
.login-box-right {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  overflow: hidden;
}
.login-form {
  margin-top: 57px;
}
.login-form-title {
  font-size: calc(var(--font-size) * 1.875);
  line-height: calc(var(--font-size) * 1.875);
  text-transform: uppercase;

  font-weight: 300;
}
.login-form-text {
  margin-top: 7px;
  margin-bottom: 18px;

  font-weight: 300;
}
.login-form-dash {
  width: 140px;

  border: 1px solid var(--text-accent);
}
.button-container {
  margin-top: 30px;

  text-align: center;
}
.btn-signup {
  font-size: var(--font-size);
  font-weight: 600;
  color: var(--text-accent);
  text-decoration: none;
}
.btn-signup:hover {
  cursor: pointer;

  color: var(--text-hover);
}
.error {
  position: absolute;
  bottom: -20px;

  color: var(--text-danger);
  font-size: calc(var(--font-size) * 0.875);
  line-height: calc(var(--font-size) * 0.875);
}
.input-container {
  position: relative;
  margin-bottom: 30px;
}
.input-placeholder {
  position: absolute;
  top: 50%;
  left: 20px;

  color: var(--text-smoke);
  font-size: var(--font-size);
  line-height: var(--font-size);
  pointer-events: none;

  transform: translateY(-50%);
  transition: all 0.3s ease;

  z-index: 2;
}
.input-placeholder::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 50.2%;

  background-color: var(--input-bg-color);

  z-index: -1;
}

.input-container .input-border-focus:before,
.input-container .input-border-focus:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  opacity: 0;

  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;

  transition: 0.3s;
}
.input-container .input-border-focus:before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}
.input-container .input-border-focus:after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.input-container .input-border-focus:after {
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
}

input[name="ulogin"],
input[name="pass"] {
  width: 310px;
  padding: 15px 16px;

  color: var(--input-text);
  font-size: var(--font-size);
  font-weight: 300;

  border: 1px solid var(--border-color);
  border-radius: var(--border-second-radius);
  background-color: var(--input-bg-color);
}
input[name="ulogin"]:focus,
input[name="pass"]:focus {
  outline: none;
}
input[name="ulogin"]:not(:placeholder-shown) ~ .input-placeholder,
input[name="ulogin"]:focus ~ .input-placeholder,
input[name="pass"]:not(:placeholder-shown) ~ .input-placeholder,
input[name="pass"]:focus ~ .input-placeholder {
  top: 0;
  left: 16px;
  padding: 2px 5px;

  font-size: calc(var(--font-size) * 0.875);
  line-height: calc(var(--font-size) * 0.875);
}
input[name="ulogin"]:focus ~ .input-border-focus:before,
input[name="ulogin"]:focus ~ .input-border-focus:after,
input[name="pass"]:focus ~ .input-border-focus:before,
input[name="pass"]:focus ~ .input-border-focus:after {
  width: 100%;
  height: 100%;

  opacity: 1;

  transition: 0.3s;
}
input[type="submit"] {
  position: relative;
  padding: 12px 10px;
  width: 180px;
  height: max-content;

  cursor: pointer;

  font-size: var(--font-size);
  font-weight: 300;
  color: var(--btn-text-hover);

  border: none;
  border-radius: var(--border-second-radius);

  background: var(--btn-bg-color);

  transition: all 0.15s ease-in-out;
}
input[type="submit"] {
  transition: 0.3s;

  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(0, var(--text-hover), var(--text-hover));
}

input[type="submit"]:hover {
  background-size: 100%;
  color: var(--btn-text-default);
}

.password-visibility {
  position: absolute;
  top: 50%;
  right: 16px;

  transform: translateY(-50%);

  z-index: 1;
}
.password-visibility:hover > svg {
  cursor: pointer;
}
.password-visibility:hover > svg > path {
  stroke: var(--text-hover);
}

.aria-loading {
  margin-top: 40vh;

  justify-content: center;
}
.pageLoader {
  width: 100vw;
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-default-color);
}

.loader {
  position: absolute;
  right: 4%;
  top: -10%;
}
