* {
  padding: 0;
  margin: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#messageForm,
#createChatForm {
  height: 3.2rem;
  padding: 0.5vh 1vh;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.15);
}
#messageForm > button,
#createChatForm > button {
  padding: 0 1.3rem;
  margin: 0.25rem;

  font-size: 1em;
  color: #fff;

  border: none;
  background: #333;
  border-radius: 3px;

  outline: none;
  transition: all 0.2s ease-in-out;
}
#messageForm > button:hover,
#createChatForm > button:hover {
  border-radius: 8px;
  background: #555;
  cursor: pointer;
}

#inputMessage,
#inputLogin {
  margin: 0.25rem;
  padding: 0 1rem;

  border: none;
  border-radius: 3px;

  font-size: 1em;
}
#inputMessage {
  flex-grow: 1;
}
#inputMessage:focus,
#inputLogin:focus {
  outline: none;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

.chat-logo {
  margin: 0;
  padding: 5px 15px;

  border-radius: 3px;
  background-color: rgba(245, 245, 245, 0.7);

  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.control-panel {
  width: 100%;
  padding: 1vh 2vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
.control-panel > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: right;
}
.control-btn {
  margin-left: 30px;
  padding: 10px 20px;

  border-radius: 3px;
  background-color: rgb(230, 230, 230);

  transition: all 0.2s ease-in-out;
}
.control-btn:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: #1a8ee1;
}
