body {
  padding: 0;
  margin: 0;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#inputMessage {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#inputMessage:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}

.chat-logo {
  margin: 0;
  padding: 0;

  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.control-panel {
  width: 100%;
  padding: 1vh 2vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;

  border-bottom: 1px solid rgb(156, 156, 156);
  background-color: rgba(0, 0, 0, 0.15);
}
.control-panel > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: right;
}
.control-btn {
  margin-left: 30px;
  padding: 8px 20px;

  border-radius: 14px;
  border: 1px solid #777;
  background-color: #888;

  color: #fff;
  transition: all 0.2s ease-in-out;
}
.control-btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}
