* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.hide {
  display: none !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: lightgray;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.chat-form {
  flex-grow: 1;
  margin: 0 20px 20px 0;
  padding: 20px;

  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-empty {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 4em;
  color: rgba(211, 211, 211, 0.6);
  text-align: center;
}

.chat-form-loading {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 5em;
  color: rgba(211, 211, 211, 0.6);
  text-align: center;
}
.chat-form-loading > P {
  font-size: 0.7em;
  margin-left: 15px;
}

.chat-messaging-info {
  position: relative;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
.chat-recipient-photo {
  width: 57px;
  height: 57px;

  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: lightblue;
}
.chat-recipient-photo {
  width: 70px;
  height: 70px;
  color: #fff;
  background-color: rgb(59, 103, 145);
}
.chat-recipient-info {
  font-size: 1.7em;
  padding: 0 17px;

  display: flex;
  align-items: center;
  justify-content: left;
}
.chat-recipient-status {
  display: flex;
  font-size: 1em;
  color: rgb(62, 184, 255);
  transition: all 0.1s ease-in-out;
}
.chat-recipient-status span {
  color: rgb(52, 54, 202);
  margin: 0 15px;
}
.chat-close-btn,
.chat-delete-btn {
  position: absolute;
  top: 17%;
  right: 0;

  color: grey;
  font-size: 2.5em;

  transition: all 0.3s ease-in-out;
}
.chat-close-btn:hover {
  cursor: pointer;
  color: rgb(62, 184, 255);
  transform: scale(1.2);
}
.chat-delete-btn {
  font-size: 2.4em;
  right: 50px;
}
.chat-delete-btn:hover {
  cursor: pointer;
  color: rgb(255, 62, 62);
  transform: scale(1.2);
}

.chat-form-main {
  height: 69vh;
  padding: 10px 0;
  overflow: auto;
}

#chat-form-send {
  height: 4.5em;

  display: flex;
  border-top: 1px solid lightgray;
  padding: 15px;
}
#inputMessage {
  flex-grow: 1;
  height: 100%;
  margin-right: 15px;
  padding: 0 1rem;

  font-size: 1.1em;

  border: none;
  border-radius: 2rem;
  background-color: rgb(224, 224, 224);
}
#inputMessage:focus {
  outline: none;
}
#chat-form-send > button {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5em;
  color: #fff;

  border: none;
  border-radius: 20px;
  background-color: rgb(59, 103, 145);

  transition: all 0.2s ease-in-out;
}
#chat-form-send > button:hover {
  cursor: pointer;
  color: #000;
  background-color: lightblue;
}
#chat-form-send > button > p {
  font-size: 0.8em;
  margin-right: 8px;
}
.my-message {
  text-align: right;
}
