.connect-line {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 28px;

  background-color: var(--bg-connect-line);
  box-shadow: 0 4px 8px 0 var(--shadow-block), 0 6px 20px 0 var(--shadow-block);
}
.connect-line-text {
  text-align: center;
  line-height: 26px;
  font-weight: 300;
  font-size: calc(var(--font-size) * 1.1);
  color: var(--text-main);
}
