.text-error {
  padding: 12vh;
  width: 100vw;
  height: 100vh;

  font-size: 4em;
  color: var(--text-smoke);

  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.text-error > p {
  line-height: 100%;
  margin-right: 10px;
}
