* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  color: var(--text-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 8px;
  background: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

body {
  background-color: var(--bg-default-color);
}

.hide {
  display: none !important;
}

.Main {
  width: 100vw;
  height: calc(100vh - 88px);

  display: flex;
}
nav {
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-logout-btn {
  padding: 0px 15px 5px 15px;
  font-size: 1.8em;

  border-radius: 20px;
  border: 1px solid transparent;
  background-color: transparent;

  transition: all 0.2s ease-in-out;
}
.chat-logout-btn > a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.chat-logout-btn:hover {
  margin-top: -5px;
  cursor: pointer;

  border: 1px solid var(--border-light-color);
  box-shadow: 0 5px 3px var(--shdaow-text);
  background-color: var(--bg-main-color);
}
.chat-logout-btn:hover a {
  color: var(--text-accent);
}
.chat-navigate-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.change-themes {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;

  font-size: 1.7em;
  line-height: 100%;

  transition: all 0.2s ease-in-out;
}
.change-themes:hover {
  margin-top: -5px;
  cursor: pointer;

  border: 1px solid var(--border-light-color);
  box-shadow: 0 5px 3px var(--shdaow-text);
  background-color: var(--bg-main-color);
}
.chat-navigate-slice {
  margin-left: 12px;
  margin-right: 10px;
}
.chat-navigate-slice span {
  color: var(--text-accent);
  font-size: 2em;
  line-height: 70%;
}
.chat-logo {
  margin-left: 25px;
  display: flex;
  align-items: center;

  line-height: 100%;
  font-size: 3em;
}
.chat-logo > p {
  margin-left: 10px;
  font-size: 0.7em;
}
