main {
  width: 100svw;
  height: 100svh;

  display: flex;
}

.nav-logo {
  display: flex;
  align-items: center;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.nav-logo > p {
  margin-left: 10px;

  font-size: calc(var(--font-size) * 2.225);
  line-height: calc(var(--font-size) * 2.225);
}

.nav-navigate-bar {
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btns {
  gap: calc(var(--font-size) * 0.2);
}
.nav-logout-btn,
.nav-create-btn,
.change-themes {
  padding: 2px 4px;
  cursor: pointer;

  border-radius: var(--border-second-radius);

  background-size: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: linear-gradient(
    0,
    var(--btn-hover-color),
    var(--btn-hover-color)
  );
}
.nav-logout-btn > a {
  text-decoration: none;
  font-size: calc(var(--font-size) * 2);
  line-height: calc(var(--font-size) * 2);

  transition: 0.3s;
}
.nav-logout-btn:hover {
  background-size: 100%;
}

.nav-create-btn:hover {
  background-size: 100%;
}
.nav-navigate-slice span {
  color: var(--text-accent);
  font-size: calc(var(--font-size) * 2);
  line-height: calc(var(--font-size) * 2);
}

.change-themes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-themes > svg > path {
  fill: var(--text-main);

  transition: 0.3s;
}
.change-themes:hover {
  background-size: 100%;
}

@media (max-width: 800px) {
  .nav-logo > p {
    font-size: calc(var(--font-size) * 1.3);
  }
  .nav-logo > svg {
    width: 35px;
    height: 35px;
  }
  .nav-logout-btn {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-logout-btn > a {
    font-size: calc(var(--font-size) * 1.3);
  }

  .change-themes {
    padding: 0;
  }
  .change-themes > svg {
    width: 30px;
    height: 30px;
  }
}
