* {
  padding: 0;
  margin: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f8f9fd;
}

.Main {
  width: 100vw;
  height: calc(100vh - 88px);

  display: flex;
}
nav {
  width: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logout-btn {
  color: #000;
  text-decoration: none;
}
.logout-btn:hover {
  color: #1a8ee1;
}
.chat-logout-btn {
  margin-right: 20px;
  font-size: 1.8em;

  transition: all 0.2s ease-in-out;
}
.chat-logout-btn:hover {
  margin-top: -10px;
  cursor: pointer;
  text-shadow: 0 10px lightgray;
}

.chat-logo {
  margin-left: 25px;
  display: flex;
  align-items: center;

  line-height: 100%;
  font-size: 3em;
  color: #000;
}
.chat-logo > p {
  margin-left: 10px;
  font-size: 0.7em;
}
