@import "tailwindcss";

:root {
  --ui-font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --ui-font-accent: var(--ui-font-base);

  --ui-text-h1: 48px;
  --ui-text-h2: 40px;
  --ui-text-h3: 33px;
  --ui-text-h4: 28px;
  --ui-text-h5: 23px;
  --ui-text-h6: 19px;
  --ui-text-p: 16px;
  --ui-text-span: 13px;
  --ui-text-indicator: 12px;

  --ui-white: #ffffff;
  --ui-black: #000000;

  --ui-black-25: rgba(0, 0, 0, 0.25);
  --ui-black-50: rgba(0, 0, 0, 0.5);
  --ui-black-75: rgba(0, 0, 0, 0.75);
  --ui-black-90: rgba(0, 0, 0, 0.9);

  --ui-grey-50: rgba(26, 26, 26, 0.5);
  --ui-red: #df2e38;

  --ui-bg-light: #f6f6f6;
  --ui-bg-light-25: rgba(246, 246, 246, 0.25);
  --ui-bg-light-50: rgba(246, 246, 246, 0.5);
  --ui-bg-light-90: rgba(246, 246, 246, 0.9);

  --ui-bg-dark: #1b1b1d;

  --ui-text-light: #b0b0b0;
  --ui-text-dark: #6d6d6d;

  --ui-hover-light: #e7e7e7;
  --ui-hover-dark: #3f3f3f;

  --ui-accent-light: #dbdcfc;
  --ui-accent-light-50: #babbf2;
  --ui-accent-dark: #7678e5;

  --ui-indicator: #68174d;
}
