.header__container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(75px * var(--base-scale));

  display: flex;
  align-items: flex-start;

  background-color: var(--color-bg-light-90);

  z-index: 3;
}

.header-content {
  max-width: 100%;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: calc(5px * var(--base-scale));

  cursor: pointer;
}
.content__name {
  font-weight: 500;
  font-size: var(--font-h2);
  color: var(--color-black);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-more {
  padding-top: calc(20px * var(--base-scale));
  padding-right: 2px;
  padding-left: 2px;

  align-self: flex-start;

  cursor: pointer;
}

.activity--online {
  padding-left: calc(25px * var(--base-scale));
}
.activity--online > li {
  color: var(--color-accent-dark);
}
