.header__container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: calc(110px * var(--base-scale));

  padding: calc(20px * var(--base-scale)) 0;

  display: flex;
  align-items: center;

  background-color: var(--color-bg-light-90);

  z-index: 1;
}

.header-content {
  max-width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: calc(14px * var(--base-scale));

  cursor: pointer;
}
.content__name {
  height: calc(44px * var(--base-scale));

  font-weight: 500;
  font-size: var(--font-h2);
  color: var(--color-black);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-more {
  align-self: flex-start;

  cursor: pointer;
}

.activity--online {
  padding-left: calc(25px * var(--base-scale));
}
.activity--online > li {
  color: var(--color-accent-dark);
}
