.message-media__container {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.media-attachment {
  border-radius: var(--border-8);

  overflow: hidden;
}

.media-attachment > img,
.media-attachment > video {
  width: 100%;
}
