.attach-window__container {
  position: absolute;
  top: 0;

  padding: 10px;

  width: 100svw;
  height: 100svh;

  background-color: var(--color-black-50);

  z-index: 200;
}
.attach-modal__content {
  padding: 30px;

  width: 500px;
  max-height: 80svh;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: var(--border-32);
  background-color: var(--color-bg-light);
}

.attach-modal__title {
  font-size: var(--font-h5);
  font-weight: 400;
  color: var(--color-black);
}

.attach-navigation__container {
  margin-top: auto;

  justify-content: flex-end;
  gap: 30px;
}
.attach-navigation__link {
  font-size: var(--font-h6);
  color: var(--color-accent-dark);
  font-weight: 300;

  cursor: pointer;
}
.attach-navigation__link:nth-child(1) {
  margin-right: auto;
}

.attach-inputs__message {
  padding: 12px 15px;

  resize: none;

  color: var(--color-black);

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-hover-light);
}
.attach-inputs__message:focus {
  outline: none;
}
.attach-input__alt {
  padding: 10px 0;

  font-size: var(--font-h5);
}

#inputFile {
  display: none;
  visibility: hidden;
}

#attach-view__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
#testVideo {
  display: none;
  visibility: hidden;
}
