.chat-form__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-emty__text {
  font-weight: 200;
  font-size: var(--font-h5);
  color: var(--color-text-light);
}
.chat-form__title {
  font-weight: 200;
  font-size: var(--font-72);
  color: var(--color-text-light);
}

#chatMessagesScrollable,
.chat-form__container .scroll-bar__outer-container > div:nth-child(3) {
  display: flex;
  flex-direction: column-reverse;
}
#chatMessagesScrollable .infinite-scroll-component,
.chat-form__container .scroll-bar__outer-container > div:nth-child(3) {
  padding-top: 110px;
  padding-bottom: 90px;
}
