.chat-form__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-content__container {
  padding-top: 110px;
  padding-bottom: 90px;

  flex: 1;
  display: flex;
  align-items: flex-end;
}
.chat-emty__text {
  line-height: var(--font-h4);
  font-weight: 200;
  font-size: var(--font-h5);
  color: var(--color-text-light);
}
.chat-form__title {
  line-height: var(--font-72);
  text-align: center;
  font-weight: 200;
  font-size: var(--font-58);
  color: var(--color-text-light);
}

#chatMessagesScrollable,
.chat-form__container .scroll-bar__outer-container > div:nth-child(3) {
  display: flex;
  flex-direction: column-reverse;
}
#chatMessagesScrollable .infinite-scroll-component,
.chat-form__container .scroll-bar__outer-container > div:nth-child(3) {
  padding-top: 75px !important;
  padding-bottom: 80px !important;
}

#chatMessagesScrollable .infinite-scroll-component {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
