.chat-form__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-emty__text {
  font-weight: 200;
  font-size: var(--font-h5);
  color: var(--color-text-light);
}
.chat-form__title {
  font-weight: 200;
  font-size: var(--font-72);
  color: var(--color-text-light);
}

.chat-content__container {
  padding-top: 110px;
  padding-bottom: 90px;

  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;
}

#chatMessagesScrollable {
  display: flex;
  flex-direction: column-reverse;
}
#chatMessagesScrollable .infinite-scroll-component {
  padding-top: 110px;
  padding-bottom: 90px;
}
