.chat-list__container {
  width: calc(400px * var(--base-scale));

  display: flex;
  gap: calc(10px * var(--base-scale));
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.chat-list__container > .scroll-bar__outer-container {
  border-radius: var(--border-8);
}
.chat-list__container > .scroll-bar__outer-container > div:nth-child(1) {
  margin-top: calc(5px * var(--base-scale));

  display: flex;
  flex-direction: column;
  gap: calc(5px * var(--base-scale));
}
.chat-list__empty {
  margin-top: 10px;

  font-size: var(--font-h5);
  text-align: center;
  color: var(--color-text-light);
}

.chat-box__container,
.chat-box__container--selected {
  position: relative;

  width: 100%;

  padding: calc(10px * var(--base-scale));

  display: flex;
  gap: calc(15px * var(--base-scale));
  align-items: center;

  border-radius: var(--border-12);

  cursor: pointer;
}
.chat-box__container--selected {
  background-color: var(--block-selected);
}
.chat-box__container:hover {
  background-color: var(--block-hover);
}

.box__photo {
  width: calc(70px * var(--base-scale));
  height: calc(70px * var(--base-scale));

  font-weight: 300;
  font-size: var(--font-h4);

  border-radius: var(--border-8);

  background-color: var(--color-bg-dark);
}

.box__content {
  max-width: calc(100% - calc(90px * var(--base-scale)));
  max-height: calc(70px * var(--base-scale));

  flex: 1;

  display: flex;
  gap: calc(7px * var(--base-scale));
  flex-direction: column;

  overflow: hidden;
}

.content-top,
.content-bottom {
  display: flex;
  gap: calc(12px * var(--base-scale));
  align-items: center;
  justify-content: space-between;
}
.content-bottom {
  height: calc(32px * var(--base-scale));
}

.content-top__name {
  height: calc(20px * var(--base-scale));

  color: var(--color-black);
  font-weight: 500;
  font-size: var(--font-h6);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-top__time {
  font-weight: 300;
  color: var(--color-text-light);
}
.content-bottom__indicator {
  padding: calc(4px * var(--base-scale)) calc(6px * var(--base-scale));

  font-weight: 300;
  color: var(--color-white);

  border-radius: var(--border-12);

  background-color: var(--color-accent-dark);
}

.content-bottom__last-message {
  flex: 1;

  display: flex;
  align-items: center;
  gap: calc(5px * var(--base-scale));

  overflow-y: hidden;
}

.last-message__text {
  width: 100%;

  font-weight: 300;
  line-height: var(--font-h6);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.last-message__media {
  width: auto;
  max-width: 24px;
  height: calc(16px * var(--base-scale));
}

.image__blur-hash {
  width: calc(16px * var(--base-scale)) !important;
  height: calc(16px * var(--base-scale)) !important;

  border-radius: 3px;

  overflow: hidden;
}
