.chat-form__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat-emty__text {
  margin-bottom: 15px;

  font-weight: 200;
  font-size: var(--font-h5);
  color: var(--color-text-light);
}
.chat-form__title {
  font-weight: 200;
  font-size: var(--font-72);
  color: var(--color-text-light);
}

#chatMessagesScrollable {
  padding: 0 5px 0 10px;

  display: flex;
  overflow: auto;
  flex-grow: 1;
  flex-direction: column-reverse;

  overflow: auto;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background-color: var(--color-bg-light);
}
