.chat-list__container {
  width: 400px;

  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chat-list__container > .search-bar {
  margin-bottom: 10px;
}

.chat-box__container,
.chat-box__container--selected {
  position: relative;

  width: 100%;

  padding: 15px 10px;

  display: flex;
  gap: 15px;
  align-items: center;

  border-radius: var(--border-12);

  cursor: pointer;
}
.chat-box__container--selected {
  background-color: var(--block-selected);
}
.chat-box__container:hover {
  background-color: var(--block-hover);
}

.box__photo {
  width: 70px;
  height: 70px;

  font-weight: 300;
  font-size: var(--font-h4);

  border-radius: var(--border-8);

  background-color: var(--color-bg-dark);
}

.box__content {
  max-width: calc(100% - 90px);
  max-height: 70px;

  flex: 1;

  display: flex;
  gap: 10px;
  flex-direction: column;

  overflow: hidden;
}

.content-top,
.content-bottom {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}
.content-bottom {
  height: 1.5rem;
}

.content-top__name {
  color: var(--color-black);
  font-weight: 500;
  font-size: var(--font-h6);
}
.content-top__time {
  font-weight: 300;
  color: var(--color-text-light);
}
.content-bottom__indicator {
  padding: 4px 6px;

  font-weight: 300;
  color: var(--color-white);

  border-radius: var(--border-12);

  background-color: var(--color-accent-dark);
}

.content-bottom__last-message {
  display: flex;
  gap: 5px;

  overflow-y: hidden;
}

.last-message__text {
  width: 100%;

  font-weight: 300;
  line-height: var(--font-h6);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.last-message__media {
  width: 16px;
  height: 16px;
}

.image__blur-hash {
  border-radius: 3px;

  overflow: hidden;
}
