.authorization__container {
  flex: 1;

  margin: calc(-20px * var(--base-scale)) calc(-30px * var(--base-scale))
    calc(-20px * var(--base-scale)) 0;

  display: flex;
  flex-direction: row;
}
.authorization__side--left-login,
.authorization__side--left-signup {
  flex: 1;

  background-color: var(--color-black-50);
  background-blend-mode: darken;
  background-size: cover;
}
.authorization__side--left-login {
  background-image: url(./../../assets/LoginBg.png);
}
.authorization__side--left-signup {
  background-image: url(./../../assets/SignUp.png);
}

.authorization__side--right-login,
.authorization__side--right-signup {
  flex-basis: 120px;

  background-color: var(--color-black-50);
  background-blend-mode: darken;
  background-position-x: 0;
}
.authorization__side--right-login {
  background-image: url(./../../assets/LoginBg.png);
}
.authorization__side--right-signup {
  background-position-x: center;
  background-image: url(./../../assets/SignUp.png);
}

.authorization__side--main {
  flex-basis: 700px;

  flex: 1;
  gap: 60px;
  flex-direction: column;

  background-color: var(--color-bg-light);
}
.authorization__title > div {
  position: relative;

  font-size: var(--font-72);
  color: var(--color-black);

  cursor: pointer;
}
.authorization__title > div.gray {
  color: var(--color-hover-light);
}

.title__bottom-line {
  position: absolute;
  bottom: -6px;

  width: 100%;
  height: 2px;

  background-color: var(--color-accent-dark);
}
.title__bottom-line--none {
  display: none;
}

.authorization__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.auth-form__input {
  width: 420px;
  height: 80px;
}
.auth-form__input > input {
  width: 100%;
  height: 100%;

  padding: 42px 15px 15px 15px;

  color: var(--color-black);
  font-size: var(--font-h5);

  border: 0;
  border-radius: var(--border-12);
  background-color: var(--color-hover-light);
}
.auth-form__input > input:focus {
  outline: none;
}
.auth-form__input:nth-child(2) > input {
  padding-right: 50px;
}

.auth-form__placeholder {
  position: absolute;
  top: 12px;
  left: 15px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-form__password-visibility {
  position: absolute;
  top: 50%;
  right: 10px;

  height: 30px;

  cursor: pointer;
}

.auth-form__button {
  padding: 7px 0;

  border-radius: var(--border-12);
  background-color: var(--color-accent-dark);

  cursor: pointer;
}
.auth-form__button > p {
  padding: 8px 0;

  font-size: var(--font-h6);
  color: var(--color-white);
}

.authorization__footer {
  display: flex;
  flex-direction: row;
  gap: 5px;

  font-size: var(--font-h6);
}
.auth-form__link {
  color: var(--color-accent-dark);
  font-size: var(--font-h6);
  font-weight: 500;

  transition: 0.2s color;

  cursor: pointer;
}

.auth-form__link:hover {
  color: var(--color-accent-light);
}
.auth-form__checkbox {
  gap: 5px;

  cursor: pointer;
}
.auth-form__checkbox > input {
  width: 18px;
  height: 18px;

  accent-color: var(--color-hover-light);

  cursor: pointer;
}
.auth-form__checkbox > label {
  color: var(--color-text-hover);

  cursor: pointer;
}

.login-form__mt-49 {
  margin-top: -49px;
}

.signup-form__mt-20 {
  margin-top: 0;
}

@media screen and (max-width: 800px) {
  .authorization__container {
    flex-direction: column;
    margin: 0;
  }

  .authorization__side--right-login,
  .authorization__side--right-signup {
    display: none;
  }

  .authorization__side--left-login,
  .authorization__side--left-signup {
    width: 100svw;
    max-height: 300px;

    padding: 6svh 5svw;
  }
  .authorization__side--left-login .logo-icon > svg,
  .authorization__side--left-signup .logo-icon > svg {
    height: 150px;
    width: 100px;
  }
  .authorization__side--left-login #logo-text,
  .authorization__side--left-signup #logo-text {
    width: max-content;
    height: 150px;
  }

  .authorization__side--main {
    width: 100svw;

    padding: 5svw;

    justify-content: flex-start;

    border-radius: var(--border-16) var(--border-16) 0 0;
  }

  .login-form__mt-49 {
    margin-top: -20px;
  }
  .signup-form__mt-20 {
    margin-top: -20px;
  }

  .authorization__title > div {
    font-size: var(--font-58);
  }

  .authorization__form {
    width: 100%;
  }

  .authorization__form > .auth-form__input {
    width: 100%;
  }

  .auth-form__input > input {
    font-size: var(--font-h6);
  }
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
  .authorization__container {
    flex-direction: column;
  }
  .authorization__side--left-login,
  .authorization__side--left-signup {
    max-height: 40dvh;
  }
  .authorization__side--left-login .logo-icon > svg,
  .authorization__side--left-signup .logo-icon > svg {
    height: 220px;
    width: 160px;
  }
  .authorization__side--left-login #logo-text,
  .authorization__side--left-signup #logo-text {
    width: max-content;
    height: 220px;
  }
  .authorization__side--right-login,
  .authorization__side--right-signup {
    display: none;
  }

  .authorization__side--main {
    width: 100svw;

    padding: 5svw;

    justify-content: flex-start;

    border-radius: var(--border-16) var(--border-16) 0 0;
  }

  .signup-form__mt-20 {
    margin-top: -49px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .authorization__side--left-login .logo-icon > svg,
  .authorization__side--left-signup .logo-icon > svg {
    height: 15svh;
    width: 160px;
  }
  .authorization__side--left-login #logo-text,
  .authorization__side--left-signup #logo-text {
    width: max-content;
    height: 15svh;
  }
  .authorization__side--right-login,
  .authorization__side--right-signup {
    display: none;
  }
}
